@import "./variables.css";
@import "./reset.css";
@import "./typography.css";

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow: hidden; */
}

header,
main {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}

/* Header */
.header {
  background-image: url("../assets/img/grilled-meat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.header::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(3px);
}

/* HEADER CONTAINER */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER STRIP */

.header-strip {
  position: relative;
  display: inline-block;
  padding-top: 14px;
  margin-bottom: 4em;
}

.header-strip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80%;
  background-image: linear-gradient(
    270deg,
    rgba(255, 137, 93, 1) 0%,
    rgba(223, 78, 19, 1) 0%,
    rgba(255, 165, 29, 1) 100%
  );
}

.header-strip-text {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: var(--bolder-weight);
}

/* HEADER TITLE */

.header-title {
  color: var(--primary-color);
  font-weight: var(--light-weight);
  text-align: center;
  max-width: 250px;
  margin-bottom: 2em;
}

.header-title strong {
  font-weight: var(--bolder-weight);
}

.header-title span {
  text-transform: uppercase;
}
/* HEADER SUBTITLE */

.header-subtitle {
  color: var(--secondary-color);
  font-size: 21px;
  line-height: 27px;
  font-weight: var(--bolder-weight);
  text-transform: uppercase;
  margin-bottom: 1.524em;
  text-align: center;
}
/* --------------------------------------------------------- */

/* MAIN */

.main {
  padding: 1.5em;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: var(--bolder-weight);
  color: var(--tertiary-color);
}

.main-title span {
  text-transform: uppercase;
}

.main-subtitle {
  text-transform: uppercase;
  font-weight: var(--bolder-weight);
  color: var(--secondary-color);
  margin-bottom: 1em;
}

.main-description {
  text-align: center;
  color: var(--para-txt-color);
  margin-bottom: 1em;
}

.main-description span {
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  padding: 0 2em;
}

input {
  font-size: 14px;
  padding: 0.5em;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-family: inherit;
}

input::placeholder {
  text-align: center;
  color: var(--input-placeholder-color);
  text-transform: capitalize;
}

.register-btn {
  border-radius: var(--input-border-radius);
  padding: 0.5em 0;
  text-transform: uppercase;
}

.main-privacy {
  text-align: center;
  color: var(--footer-txt-color);
}

@media (min-width: 570px) {
  .form {
    padding: 0 5em;
  }

  .main-description {
    max-width: 450px;
  }
}

@media (min-width: 700px) {
  .header-title {
    max-width: 330px;
  }

  .form {
    padding: 0 12em;
  }

  .main-description {
    max-width: 450px;
  }
}

@media (min-width: 960px) {
  .form {
    padding: 0 2em;
  }

  .wrapper {
    flex-direction: row;
  }

  header {
    flex-basis: 60%;
  }

  main {
    flex-basis: 40%;
  }

  /* MAIN */
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* HEADER TITLE */

  .header-strip {
    margin-bottom: 15em;
  }

  .header-title {
    max-width: 340px;
    margin-bottom: 0;
  }

  /* HEADER SUBTITLE */
  .header-subtitle {
    margin-bottom: 0;
  }

  .main-description {
    max-width: unset;
  }
}

@media (min-width: 1280px) {
  header {
    flex-basis: 65%;
  }

  main {
    flex-basis: 35%;
  }

  /* HEADER TITLE */

  .header-strip {
    margin-bottom: 12em;
  }

  .header-title {
    max-width: 400px;
  }

  .main-privacy {
    max-width: 250px;
  }
}
